* {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "header-font";
  src: url("./src/hk-grotesk/HKGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
.header {
  display: flex;
  font-family: "header-font";
  font-style: normal;
  font-weight: bold;
  font-size: 15vh;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: #f2e6ce;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}
