body {
  background-color: #f2e6ce;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body a:link {
  color: #2328fa;
}

@font-face {
  font-family: "header-font";
  src: url("./src/hk-grotesk/HKGrotesk-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
.header {
  display: flex;
  font-family: "header-font";
  font-style: normal;
  font-weight: bold;
  font-size: 15vh;
  align-items: center;
  justify-content: center;
  color: #2328fa;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
  border: solid #2328fa 3px;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}
.container label {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.button {
  border: solid #2328fa 3px;
  border-radius: 5px;
  background-color: #f2e6ce;
}
